@import "tailwindcss";

/* Recuirter Css*/

/* Root Elements */
:root{
    --primary-color:#009b5a;
    --primary-btn-bg:linear-gradient(135deg,#009b5a 0%,#00b86b 40%,#00d17d 100%);
    --primary-box-shadow:0px 4px 12px rgba(0, 155, 90, 0.08);
    --box-shadow:0 4px 12px rgba(0, 0, 0, 0.04),
      0 1px 3px rgba(0, 0, 0, 0.08);
    --box-border:1px solid #e5e7eb;
    --box--bg:#fff;
    --box--hover--border-color:#009b5a;
    --box--hover--boxshadow: 0 12px 30px rgba(0, 155, 90, 0.12), 0 4px 12px rgba(0, 0, 0, 0.08);
    --box-transition: all 0.3s ease;
    }

.recuirter-main-section{
    display: flex;
    gap: 12px;
}
.outlet-section-main{
    flex: 1;
}
/* Side Bar Css Starts */
.recuirter-sidebar-cf{
    height: 100vh;
    border: solid 1px black;
    width: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between !important;
    gap: 18px;
    padding: 25px 30px;
    background-color: black;
    color: white;
    position: sticky;
    top: 0px;
    left: 0px;
}
.recuirter-links-parent{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.recuirter-sidebar-links{
    color: white;
}
.logout-btn{
  margin: auto 0px;
  padding: 10px 20px;
  border-radius: 12px;
  background:red;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  letter-spacing: 2px;
  width: 100% !important;
}
.width-full{
    width: 100%;
}
/* Side Bar Css Ends */
/* Navbar Css Starts */
.recuirter-navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}
.recuirter-dashboard-text{
    color: var(--primary-color);
    font-style: italic;
    margin: auto 0px;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 22px;
}
/* Navbar Css Ends */
/* Login Css Starts */
.recruiter-login-cf
{
height: 100vh;
display: flex;
align-items: center;
justify-content: center;

}
#recruiter-login-container{
  border: solid 1px var(--box-border);
  box-shadow: var(--box-shadow);
  background: var(--box--bg);
  height: auto ;
  width: 1160px ;
  border-radius: 20px;
}

#recruiter-login-form{
    display: flex !important;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: 460px;
    height: auto;
    padding: 50px 20px;
    background: var(--box--bg);
    box-shadow: var(--box-shadow);
    border-radius: 20px;
}
.recruiter-login-submit-btn{
    border-radius: 15px;
    padding: 8px;
    background-color: var(--primary-color);
    box-shadow: var(--primary-box-shadow);
    color: white;
    font-size: 13px;
    width: 100%;
}
/* Login Css Ends */
/* Post New Job Css Starts */
.post-new-job-main{
    padding: 20px;
    height: auto;
}
#post-job-form{
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    border: solid 1px var(--box-border);
    box-shadow: var(--box-shadow);
    background: var(--box--bg);
    height: auto;
    overflow-y: auto;
    border-radius: 16px;
    height: 88vh;
    overflow-y: auto;
}
#post-job-form h6{
    color: var(--primary-color);
    font-weight: bold;
}
.post-job-input-parent{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.post-job-input-parent label{
    font-size: 14px;
}
.input::placeholder{
    font-size: 13px;
  }
  .input{
    font-size: 13px;
  }
  .post-job-submit-btn{
    width: 100%;
    border: solid 1px transparent;
    padding: 15px 22px;
    border-radius: 20px;
    background: var(--primary-color);
    font-size: 14px;
    color: white;
  }
/* Post New Job Css Ends */